body{
    margin: 0;
    padding: 0;
    background-color: #252627;
    color: #eee;
    font-weight: 300px;
    //font-family: 'Lobster', cursive;
    //font-family: 'Roboto Slab', serif;
    font-family: 'Orbitron', sans-serif;
    
}
a{
    text-decoration: none;
}
//bg #FAFAFA\
//text #FE6056
//#4A5968