.herotext {
    display: flex;
    white-space: pre;
    position: absolute;
    flex-wrap: wrap;
    
    top: 20%;
    left: 10%;

    align-content: space-between;
    justify-content: space-between;
    h1{
       // display: block;
    }
        span {
            white-space: pre;
            font-size: 60px;
            will-change: transform;
            opacity: 0;
            // &:hover{
            //     animation-name:rubberBand;
            // }
            // .herosize{

            // }
            &.width{
                //min-width: 100% !important;
            }
    }
}