.herotext {
    display: flex;
    position: absolute;
    font-size: 40px;
    top: 40%;
    margin: 0 auto;
    left: 20%;
}

.herosize span {
    font-size: 40px;
}

h1 {
    font-size: 50px;
}

.herosize {
    font-size: 40px;
}
